@font-face {
  font-family: 'Helios Cond Bold';
  src: url("../fonts/HeliosCond-Bold.eot");
  src: url("../fonts/HeliosCond-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCond-Bold.woff") format("woff"), url("../fonts/HeliosCond-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    min-width: 100%;
    padding: 0 20px;
  }
}

.header {
  margin-top: 20px;
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__title {
  font-family: Helios Cond Bold;
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.56px;
  margin: 8px;
}

.menu {
  margin-left: 28px;
  width: 100%;
}

.menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  padding-bottom: 7px;
  border-bottom: 1px solid #d9d9d9;
  margin: -2px 0;
  letter-spacing: 0.3px;
}

.link {
  text-decoration: none;
}

.item__link {
  color: #252525;
}

.item__link:not(:last-child) {
  margin-right: 15px;
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

button {
  cursor: pointer;
  text-decoration: none;
  background: #FFFFFF;
  border: none;
  padding: 0;
}

.links__buttons .line {
  color: #252525;
  font-weight: 700;
  margin: 0px 10px;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 23px;
}

.menu__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0.927;
      -ms-flex: 0.927;
          flex: 0.927;
}

.basket__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-left: 25px;
}

.button__basket {
  font-size: 12px;
  text-decoration: underline;
}

.button__img {
  position: absolute;
  left: -27px;
}

.basket__cart {
  font-size: 14px;
}

.img__star {
  left: -25px;
}

.img__cart {
  left: -30px;
}

.basket__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preview__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 72px;
  border: 1px solid #d9d9d9;
}

.preview__img:not(:last-child) {
  margin-right: 11px;
}

.contacts__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  margin-bottom: 15px;
}

.time__work {
  font-family: "Roboto";
  font-weight: 700;
}

.contacts__tel {
  margin-bottom: 13px;
}

.contact__tel {
  color: #252525;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
}

.contact__tel span {
  font-family: Helios Cond Bold;
}

.contacts__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  padding-top: 4px;
  border-top: 1px solid #d9d9d9;
}

.position__city {
  color: #252525;
}

.position__change {
  color: #333333;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  cursor: pointer;
}

.position__change:before {
  content: '';
  display: inline-block;
  border: 4px solid transparent;
  border-left: 8px solid #000000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-height: 34px;
  overflow: hidden;
}

.nav__search {
  padding: 9px 10px 8px;
  cursor: pointer;
}

.nav_yellow {
  color: #333333;
  background-color: #ffcc00;
}

.nav__menu {
  text-align: center;
  width: 100%;
  background-color: #252525;
  padding: 11px;
}

.nav__link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 14px;
  margin-left: 2px;
  letter-spacing: 0.30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover {
  background-color: #ffcc00;
  color: #333333;
}

.nav__sale {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 15px;
}
